<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<%= render partial: 'contacts/index', locals: {company: @company} %>

<br />

<%= render partial: 'index_campaigns', locals: {company: @company} %>