<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.collection_select(:company_id, Company.all, :id, :name, {
                               :prompt => 'Select a Company',
                               :selected => @campaign.company_id }) %>
  </div>

  <div class="field">
    <%= form.label :community_manager %>
    <%= form.collection_select(:community_manager_id,
                               User.select { |user| user.community_manager?},
                               :id, :name, {
                               :prompt => 'Select a Community Manager',
                               :selected => @campaign.community_manager_id }) %>
  </div>

  <div class="field">
    <%= form.label :campaign_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :goald %>
    <%= form.text_field :goald %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
